<!-- _includes/nav.html -->
<header class="nav" style="background-color: #1a1a1a;">
    <div class="container">
      <nav class="main-nav">
        <div class="logo">
          <a href="/">{{ site.title | split: " - " | first }}</a>
        </div>
        <ul class="nav-links">
          <li><a href="/#about">About</a></li>
          <li><a href="/events/">Events</a></li>
          <li><a href="/special-events/">Special Events</a></li>
          <li><a href="/recipes/">Location</a></li>
        </ul>
      </nav>
    </div>
  </header>