<!-- _includes/nav.html -->
<header class="nav" style="background-color: #1a1a1a;">
  <div class="container">
    <nav class="main-nav">
      <div class="logo">
        <a href="/">{{ site.title | split: " - " | first }}</a>
      </div>
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <ul class="nav-links">
        <li><a href="/recipes/">Recipes</a></li>
        <!--<li><a href="/events/">Events</a></li>
        <li><a href="/special-events/">Special Events</a></li>
        <li><a href="/#about">About</a></li>-->
        <li><a href="../#newsletter">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
<script>
document.addEventListener('DOMContentLoaded', function() {
  const hamburger = document.querySelector('.hamburger');
  const navLinks = document.querySelector('.nav-links');
  const navItems = document.querySelectorAll('.nav-links li');
  
  hamburger.addEventListener('click', function() {
    // Toggle hamburger menu animation
    this.classList.toggle('active');
    
    // Toggle navigation menu
    navLinks.classList.toggle('active');
    
    // Add animation to nav items
    navItems.forEach(function(item, index) {
      item.style.setProperty('--i', index);
      if (item.style.animation) {
        item.style.animation = '';
      } else {
        item.style.animation = 'fadeInItem 0.5s forwards';
      }
    });
  });
  
  // Close menu when clicking on a nav link
  navItems.forEach(function(item) {
    item.addEventListener('click', function() {
      hamburger.classList.remove('active');
      navLinks.classList.remove('active');
      navItems.forEach(function(item) {
        item.style.animation = '';
      });
    });
  });
});
</script>