// Overrides for Minima theme variables to ensure compilation
// Define only the variables Minima expects that may otherwise be undefined.

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Basic fallbacks
$primary-color: #ff6b35;
